@charset 'utf-8';
html,body{
	background: #fff;
}
.topbanner {
    background: url("../images/login-banner3x.jpg") no-repeat scroll center bottom / cover ;
    display: table;
    height: 180px;
    text-align: center;
    width: 100%;
}
.poswrap {
    display: table-cell;
    vertical-align: middle;
}
 .poswraplogo {
    background: url("../images/user-logo2x.png") no-repeat scroll center center / cover ;
    height: 112px;
    margin: 0 auto;
    width: 122px;
}
.center-form {
    margin: 30px auto;
    max-width: 280px;
    width: 100%;
}
.center-nav {
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.center-nav a {
    font-size: 16px;
    padding: 0 5px;
}
.center-nav a:last-child {
    border-left: 1px solid #a2a2a2;
    margin-left: 10px;
    padding-left: 20px;
}

.form-elemgroup {
    display: table;
    margin-bottom: 15px;
    width: 100%;
}
.form-elemgroup .input-elem {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    color: #404040;
    display: inline-block;
    font-size: 14px;
    height: 18px;
    outline: medium none;
    padding: 10px 0;
    resize: none;
    text-indent: 10px;
    width: 100%;
}
.form-logininfo,.form-loginrightinfo {
    float: left;
}
.form-logininfo {
    display: inline-block;
    width: 60%;
}
.form-loginrightinfo {
    text-align: right;
    width: 40%;
}
.form-forget .input-code {
    float: left;
    width: 45%;
}
.form-find-btn {
    float: right;
    width: 45%;

}
.errorinfogroup {
    display: none;
}
.errorinfo {
    color: #f69242;
    display: inline-block;
    font-size: 14px;
}
.form-elemgroup .input-elem.error {
    border: 1px solid #f69242 !important;
}
label.error {
    color: #f69242;
    display: inline-block;
    font-size: 14px;
    padding-top: 14px;
}
.buttonclick {
    background: #40d16d none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    outline: medium none;
    padding: 10px 0;
    text-align: center;
}
.form-login-btn {
    display: inline-block;
    width: 100%;
}
.form-find-btn button {
    width: 100%;
}

.lawerroletitle{
	padding: 0;
    text-align: center;
	font-size: 24px;
    margin: 40px 0 20px;
}
.form-elemgbottom {
    text-align: center;
}
.findtwostep {
    display: none;
}
.rolebox {
    margin: 0 auto 25px;
}
.lawerlist{
	display: table;
    text-align: center;
    width: 100%;
}
.lawerlist li{
	display: inline-block;
}
.lawerlist li > a {
	position: relative;
	background: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 225px;
    margin: 20px 16px 0;
    width: 190px;
}
.lawerlist li > a div {
    background: rgba(0, 0, 0, 0) url("../images/role2.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 162px;
    margin: 10px 8px 0;
    width: 162px;
}
.lawerlist li > a span {
    display: inline-block;
    font-size: 20px;
}
.lawerlist li > a div.role1 {
    background-position: 0 0;
}
.lawerlist li > a div.role2 {
    background-position: 0 -162px;
}
.lawerlist li > a div.role3 {
    background-position: 0 -324px;
}
.lawerlist li > a div.role4 {
    background-position: 0 -486px;
}
.lawerlist li > a div.role5 {
    background-position: 0 -648px;
}
.lawerlist li > a div.role6 {
    background-position: 0 -810px;
}
.lawerlist li > a div.role7 {
    background-position: 0 -972px;
}
.lawerlist li i {
	position: absolute;
    background: rgba(0, 0, 0, 0) url("../images/check-mobile.png") no-repeat scroll center center / contain ;
    bottom: -15px;
    height: 50px;
    right: -15px;
    width: 50px;
}
.hidemobile {
    display: none !important;
}