<header class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back();"><i class="am-header-icon am-icon-chevron-left"></i></a>
    </div>
    <h1 class="am-header-title">经济补偿金</h1>
</header>
<div class="container">
    <div cg-busy="promise">
    <div class="row">
        <toaster-container toaster-options="{'time-out': 3000, 'close-button':false, 'animation-class': 'toast-top-center'}"></toaster-container>
    </div>
    <!-- <div class="row">
        <div class="col-xs-12 center">
            <h2 class="h2 center linkLawColor titleLable tool-title-economicCompensation linkLawColor"></h2>
        </div>
    </div> -->
    <form name="myForm" novalidate>
    <div class="row">
            <div class="warp">
                <select class="form-control"  name = "provienceTypeValue" ng-model = "provienceTypeValue" ng-options="obj.provincename for obj in proviences" ng-change = "provienceTypeValueChanged()" required="请选择省份">
                    <option value="">请选择省份</option>
                </select>
            </div>

            <div class="warp center">
                <select class="form-control"  name= "areaTypeValue" ng-model = "areaTypeValue" ng-options="obj.cityname for obj in areaTypes" ng-change = "areaTypeValueChanged()" required="请选择地区">
                    <option value="">请选择地区</option>
                </select>
            </div>

            <div class="warp">
                <label>入职时间</label>
                <input type="date" class="form-control" ng-model="hireDateValue" name="hireDateValue" my-datepicker  autoclose = "true"  ng-change="hireDateValueChanged()" required>
            </div>

            <div class="warp">
                <label>离职时间</label>
                <input type="date" class="form-control" ng-model="leaveDateValue" name="leaveDateValue"  my-datepicker ng-change="leaveDateValueChanged()" required>
            </div>

            <div class="warp">
                <label>月平均工资</label>
                <input type="number" min="1" name ="monthAverageValue" ng-model = "monthAverageValue" class="form-control"  placeholder="月平均工资：元/月" required="月平均工资">
            </div>
            <div class="warp" ng-show = "showSpecAverageSalary == true">
                <label>
                    当地月平均工资{{specAverageSalary}}
                </label>
            </div>
    </div>
    <div class="row btnRow">
        <div class=" col-xs-6">
            <button type="button" ng-click="calc()" class="btn btn-success btn-block btnOk">计算</button>
        </div>
        <div class=" col-xs-6">
            <button type="button" ng-click="reset()" class="btn btn-default btn-block btnRest">重置</button>
        </div>
    </div>
    </form>
    <div class="row resultRow">
        <div class=" col-xs-12" ng-show ="showResult==true">
            <h3 class="center linkLawColor">计算结果</h3>
            <div  ng-bind-html = "resultData"></div>
        </div>
        <div class=" col-xs-12 center" ng-show ="showFormula==true">
            <h3 class="center linkLawColor">计算公式</h3>
            <div ng-bind-html = "formulaData"></div>
        </div>
    </div>
    <!--<div class="page-header descColor" ng-show ="showContent==true">-->
        <!--<span class="glyphicon glyphicon-info-sign"></span>-->
        <!--计算结果仅供参考,数据来源<a href="" ng-click="open()">&lt&lt{{contentData}}&gt&gt</a>。-->
    <!--</div>-->
    <div class="page-header descColor" ng-show="showContent==true">
        <span class="glyphicon glyphicon-info-sign"></span>
        计算结果仅供参考，数据来源为2008年1月1日开始实施的&lt&lt中华人民共和国劳动合同法&gt&gt。2008年1月1日之前因劳动合同纠纷产生的经济补偿金，具体计算公式及项目请参考&lt&lt中华人民共和国劳动合同法&gt&gt原劳动部&lt&lt违反和解除劳动合同的经济补偿办法&gt&gt和各省高院人民法院、人力资源和社会保障局、劳动人事争议仲裁委员会相关文件的规定。
    </div>
    </div>
</div>
